<h1 class="search-results-title">Your Reservations</h1>

<div class="container">
  <div class="row">
    <% @reservations.each do |reservation| %>
    <% renter = reservation.user %>
    <div class="col-xs-6">
      <div class="reservation-card">
        <div class="reservation-image" style="background-image: url('<%= reservation.scooter.picture %>')"></div>
        <div class="reservation-card-content">
          <div><h5><%= reservation.scooter.make %> <%= reservation.scooter.model %></h5></div>
          <div><h6><i class="fa fa-globe" aria-hidden="true"></i> <%= reservation.scooter.location %></h6></div>
          <div><i class="fa fa-dollar" aria-hidden="true"></i> <%= reservation.scooter.price %>/day</div>
          <div><h6>Reserved by: <%= renter.first_name.capitalize %> <%= renter.last_name.capitalize %></h6></div>
          <div><h6>Rental start: <%= reservation.start_date %></h6></div>
          <div><h6>Rental end: <%= reservation.end_date %></h6></div>
          <div><h6>Total: € <%= reservation.total_price %></h6></div>
          <div><h6>Status: <%= reservation.status %></h6></div>
          <div class="reservation-btn-container">
            <%= link_to "approve", approve_reservation_path(reservation), method: :patch, class: "btn btn-success" %>
            <%= link_to "deny", deny_reservation_path(reservation), method: :patch, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

