<h1>All Scooters</h1>

<% @scooters.each do |s| %>
<div class="card-container">
<div class="scooter-image" style="background-image: url('<%= s.picture %>')"></div>
  <div class="card-content">
    <div><%= s.make %></div>
    <div><%= s.model %></div>
    <div><%= s.location %></div>
    <div><%= s.price %></div>
    <div><%= link_to "Show this scooter", scooter_path(s), data: params %></div>
  </div>
</div>
<% end %>
