<div class="container">
  <div class="login-box">
    <h2>Add a scooter</h2>

    <%= simple_form_for @scooter do |f| %>
    <%= f.error_notification %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div style="display: flex ">
      <div>
        Availability:
      </div>
      <div style="margin: 0 52px"></div>
      <div style="margin-top: -7px;"> <%= f.input :availability, label: false, as: :boolean, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit %>
    <% end %>

  </div>
</div>
