<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @scooter.picture %>);">

  <div class="reservation-card-description">
    <img class="card-user" src="https://www.lorempixel.com/400/400/people">
    <a class="card-link" href="#" ></a>
    <h3><%= @scooter.make %></h3>
    <h4>€<%= @scooter.price %> per day</h4>
    <p><%= @scooter.model %></p>
    <p><%= @scooter.location %></p>
  </div>

  <div class="card-reservation-container">
    <div class="card-reservation">
      <div class="card-content-reservation">
        <h3 class="header">Trip Summary</h3>
        <%= simple_form_for([@scooter, @reservation], html: { class: "form-inline" }) do |f| %>
        <%= f.input :start_date, :as => :date, :default => @start_date,label: false %> <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <%= f.input :end_date, :as => :date, :default => @end_date, label: false  %>
        <%= f.button :submit, 'Book Now!', class: "btn btn-danger" %>
        <% end %>

        <div class="card-reservation-total-price"><strong>Total Trip Price: € <%= @total_price %></strong></div>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>


