<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/159190/vespa-roller-motor-scooter-cult-159190.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');">

  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%= @scooter.make %></h2>
    <%= @scooter.model %>
    <%= @scooter.location %>
    <%= @scooter.price %>
    <%= @scooter.picture %>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
