<div class="container">
  <div class="login-box">
    <h2>Edit account</h2>

    <%= simple_form_for @account, :url => account_path, :method => :patch do |f| %>
    <%= f.error_notification %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :address %>

    <%= f.button :submit %>
    <% end %>
  </div>
</div>


